.sidebar{
  float: left;
  width: 333px;

  .sidebar__title{
    margin: 0;
    margin-bottom: 31px;
    font-family: 'open_sanssemibold';
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #333333;
  }

  .sidebar__category{
    margin-bottom: 38px;

    .sidebar__category-list{
      margin: 0;
      padding: 0;
      border: 1px solid #dee1e4;
      @include border-radius();
      background: #fbfbfb;

      .sidebar__category-item{
        list-style: none;
        border-bottom: 1px solid #dee1e4;
        &.active{
          background: #d9e5ea;
        }

        .sidebar__category-link{
          display: block;
          padding: 12px 30px 13px 29px;
          font-family: 'open_sansregular';
          font-size: 14px;
          color: #7f7f7f;
          text-decoration: none;
        }
      }
    }
  }
  .accordeon{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #dee1e4;
    @include border-radius();
    background: #fbfbfb;

    .accordeon__list{
      margin: 0;
      padding: 0;
      
      .accordeon__item{
        padding: 11px 28px 20px;
        margin-bottom: 15px;
        border-bottom: 1px solid #dee1e4;
        list-style: none;

        .accordeon__link{
          display: block;
          font-family: 'open_sanssemibold';
          font-size: 16px;
          color: #333333;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

